/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT *
--  FROM [Main].[dbo].[June15PreIntegrationTest]
--  where id > 16920122 and id < 18718757 

SELECT *
  FROM [Main].[dbo].[June15PreIntegrationTest]
  where id > 14000000 and id < 16920122 